{% extends "base.html" %}

{% block title %}Community Groups{% endblock %}

{% block head %}
<script src="/features/core/static/js/table-base.js"></script>
{% endblock %}

{% block content %}
<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <div class="page-pretitle">Community</div>
            <h2 class="page-title">{{ page_title }}</h2>
            <div class="text-muted mt-1">{{ page_description }}</div>
        </div>
        <div class="col-auto ms-auto">
            <span class="badge bg-sky-lt">
                {{ groups_total or 0 }} groups
            </span>
        </div>
    </div>
</div>

<div class="row g-3">
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                {% set title = "Group Directory" %}
                {% set description = "Create cohorts, set privacy, and manage group ownership." %}
                {% set icon = "ti ti-users-group" %}
                {% set add_url = "/features/community/groups/partials/form" %}
                {% set entity_name = "Group" %}
                {% set table_id = "groups-table" %}
                {% include 'components/ui/table_actions.html' with context %}
            </div>
            <div class="card-body p-0">
                <div id="groups-table"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card h-100">
            <div class="card-header">
                {% set title = "Group Posts" %}
                {% set description = "Select a group to review discussion threads and manage posts." %}
                {% set icon = "ti ti-message-circle" %}
                {% set add_url = "#" %}
                {% set entity_name = "Post" %}
                {% set table_id = "group-posts-table" %}
                {% set id_prefix = "group-posts" %}
                {% set add_label = "New Post" %}
                {% set add_disabled = True %}
                {% set show_bulk_actions = False %}
                {% include 'components/ui/table_actions.html' with context %}
            </div>
            <div class="card-body p-0">
                <div id="group-posts-table" class="border-top"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/features/community/static/js/groups-table.js"></script>
{% endblock %}
