{% set selected_ids = selected_ids or [] %}
{% set selected_users = selected_users or [] %}
<div id="recipient-picker" class="musel w-100">
  <input type="hidden" name="recipient_ids" value="{{ selected_ids|join(',') }}" />
  {% for user in selected_users %}
    <button type="button"
            class="mb-1 btn btn-dark"
            hx-post="/features/community/messages/partials/recipient_update"
            hx-target="#recipient-picker"
            hx-swap="outerHTML"
            hx-include="[name='recipient_ids']"
            hx-vals='{"action": "remove", "key": "{{ user.id }}"}'>
      {{ user.name }} ({{ user.email }}) <i class="ti ti-trash"></i>
    </button>
  {% endfor %}
  <input type="text"
         name="recipient_query"
         class="mt-2 form-control"
         autocomplete="off"
         placeholder="Type to search recipients..."
         hx-include="[name='recipient_ids']"
         hx-post="/features/community/messages/partials/recipients"
         hx-target="#recipient-picker .dropdown"
         hx-trigger="input changed delay:500ms, search"
         hx-indicator="#recipient-picker .htmx-indicator">
  <div class="dropdown"></div>
  <div class="htmx-indicator dropdown">
    <div class="dropdown-menu show p-1">
      <div class="spinner-border"></div>
    </div>
  </div>
</div>
