{% if search_query %}
  <div class="dropdown-menu show">
    {% for user in users %}
      <a href="#"
         hx-post="/features/community/messages/partials/recipient_update"
         hx-target="#recipient-picker"
         hx-swap="outerHTML"
         hx-include="[name='recipient_ids']"
         hx-vals='{"action": "select", "key": "{{ user.id }}"}'
         class="dropdown-item">
        {{ user.name }} ({{ user.email }})
      </a>
    {% else %}
      <div class="p-2 text-muted">No matches</div>
    {% endfor %}
  </div>
{% endif %}
